{{ define "main" }}

<h1>Folio</h1>
<h2 style="font-size: 120px; margin:0;">🌊</h2>

<i>Everperform</i>

<h3>Following the <a href="https://medium.com/omarelgabrys-blog/ux-a-quick-glance-about-the-5-elements-of-user-experience-part-2-a0da8798cd52"></a>5s of UX Development</h3>


Concrete
<h2 style="font-size: 120px; margin:0;">↕</h2>
Abstract<p>

	<p>
		<p>
			<p>

5.0 Surface <br><br><a href="https://framer.cloud/hiiuP/">Framer Prototype</a>

<br><br>4.0 Skeleton<br><br> <a href="https://projects.invisionapp.com/freehand/auth/guest?redirectURL=https%3A%2F%2Fprojects.invisionapp.com%2Ffreehand%2Fdocument%2FTcg0E8kwV">Invision Freehand</a> - must sign in as a guest*</p>

3.0 Structure
<p><a href="{{ "/map_map.png" | relURL }}">Sitemap</a> and<a href="{{ "/stack.png" | relURL }}"> Sitestack</a></p>

2.0 Scope
<p><a href="{{ "/scope_d.png" | relURL }}">Functional reqs</a></h3></p>

1.0 Strategy
<p><a href="{{ "/why_hunt.pdf" | relURL }}"><i>Why</i>hunt</a></h3></p>

{{ end }}
